<div class="container">

            <div class="row g-5">

                <!-- About -->
                <div class="col-lg-4">

                    <h3 class="footer-logo">
                        <!-- Wahid's Planet --> <img src="assets/uploads/GG_Logo_Glob_(500_x_500)_Croped.png" alt="Wahid's Planet" width="50" height="50">
                        Wahid's Planet
                    </h3>

                    <p class="footer-text">
                        Passionate ASP.NET developer building secure,
                        scalable, and responsive web applications.
                    </p>

                </div>

                <!-- Quick Links -->
                <div class="col-lg-4">

                    <h5 class="footer-title">
                        Quick Links
                    </h5>

                    <ul class="footer-links d-flex flex-column" style="max-height: 180px; flex-wrap: wrap;">

                        <li>
                            <a href="index.html">Home</a>
                        </li>

                        <li>
                            <a href="about.html">About</a>
                        </li>

                        <li>
                            <a href="projects.html">Projects</a>
                        </li>

                        <li>
                            <a href="blog.html">Blogs</a>
                        </li>

                        <li>
                            <a href="contact.html">Contact</a>
                        </li>

                    </ul>

                </div>

                <!-- Social -->
                <div class="col-lg-4">

                    <h5 class="footer-title">
                        Follow Me
                    </h5>

                    <div class="footer-social">

                        <a href="#">
                            <i class="fab fa-github"></i>
                        </a>

                        <a href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>

                        <a href="#">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>

                    </div>

                </div>

            </div>

            <!-- Bottom -->
            <div class="footer-bottom text-center mt-5">

                <p>
                    © 2026 Md. Wahid. All Rights Reserved.
                </p>

            </div>

        </div>