<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-3 d-none">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand fw-bold" href="index.html">
            Amar Portfolio
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="mainNavbar1">

            <!-- Left Menu -->
            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="index.html" data-parent-nav-link="">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="about.html" data-parent-nav-link="">
                        About
                    </a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        data-parent-nav-link="">

                        Portfolio
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark">

                        <li>
                            <a class="dropdown-item" href="projects.html" data-parent-nav-link="Portfolio">
                                Projects
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="skills.html" data-parent-nav-link="Portfolio">
                                Skills
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="certificates.html" data-parent-nav-link="Portfolio">
                                Certificates
                            </a>
                        </li>

                        <!-- Sub Dropdown -->
                        <li class="dropdown-submenu position-relative">

                            <a class="dropdown-item dropdown-toggler" href="#" data-parent-nav-link="Portfolio">
                                More
                            </a>

                            <!-- Dropright -->
                            <ul class="dropdown-menu dropdown-menu-dark sub-dropdown">

                                <li>
                                    <a class="dropdown-item" href="blogs.html" data-parent-nav-link="More">
                                        Blogs
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="resume.html" data-parent-nav-link="More">
                                        Resume
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="services.html" data-parent-nav-link="More">
                                        Services
                                    </a>
                                </li>

                            </ul>

                        </li>

                    </ul>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contact.html" data-parent-nav-link="">
                        Contact
                    </a>
                </li>

            </ul>

            <!-- Right Side Buttons -->
            <div class="d-flex gap-2">

                <a href="login.html" class="btn btn-outline-light btn-sm px-4 py-1">
                    Login
                </a>

                <a href="signup.html" class="btn btn-info btn-sm px-4 py-1">
                    Sign Up
                </a>

                <a href="javascript:void(0)" class="btn btn-outline-light px-4 py-1" id="themeToggle1">
                    <i class="fas fa-moon"></i>
                    <i class="fa-regular fa-sun d-none"></i>
                </a>

            </div>

        </div>

    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-3">

    <div class="container">

        <a class="navbar-brand fw-bold" href="index.html">
            <!-- Wahid's Planet --> <img src="assets/uploads/GG_Logo_Glob_(500_x_500).png" alt="Wahid's Planet" width="24" height="24">
            Wahid's Planet
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">

            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNavbar">
            
            <ul class="navbar-nav mx-auto">
                
                <li class="nav-item">
                    <a class="nav-link active-1" href="index.html">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active-2" href="about.html">
                        About
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active-3" href="projects.html">
                        Projects
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active-4" href="skills.html">
                        Skills
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active-5" href="certificates.html">
                        Certificates
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active-6" href="blogs.html">
                        Blogs
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active-7" href="services.html">
                        Services
                    </a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active-8" href="#" role="button" data-bs-toggle="dropdown"
                        data-parent-nav-link="">
                        More
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item  active-8-1" href="#" data-parent-nav-link="More">
                                TermsnCondition
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li>
                                    <a class="dropdown-item  active-8-1" href="#" data-parent-nav-link="More">
                                        Terms
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item active-8-2" href="#" data-parent-nav-link="More">
                                        Condition
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item active-8-2" href="#" data-parent-nav-link="More">
                                Privacy & Ploicy
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active-9" href="contact.html">
                        Contact
                    </a>
                </li>

            </ul>

            <div class="d-flex gap-2">

                <a id="btnLogin" href="#" class="btn btn-outline-light btn-sm px-4">
                    Login
                </a>

                <a id="btnSignUp" href="#" class="btn btn-info btn-sm px-4">
                    Sign Up
                </a>
                <a href="javascript:void(0)" class="btn btn-outline-light btn-sm px-4" id="themeToggle">
                    <i class="fas fa-moon d-none"></i>
                    <i class="fa-regular fa-sun d-none"></i>
                </a>
            </div>

        </div>

    </div>

</nav>
<!-- Navbar End -->