@media(max-width:991px){

    .hero-section{
        text-align:center;
    }

    .hero-title{
        font-size:45px;
    }

    .hero-typing{
        font-size:28px;
    }

    .hero-description{
        margin:auto;
    }

    .section-title{
        font-size:32px;
    }

    .counter-number{
        font-size:35px;
    }

    .cta-box{
        padding:50px 20px;
    }

}

@media(max-width:767px){

    .section-padding{
        padding:70px 0;
    }

    .hero-title{
        font-size:38px;
    }

    .hero-typing{
        font-size:24px;
    }

}

/* ********************** */
/* Start of About CSS */
/* ********************** */
@media(max-width:991px){

    .timeline::before{
        left:10px;
    }

    .timeline-content{
        width:100%;
        margin-left:30px !important;
    }

}

@media(max-width:767px){

    .breadcrumb-title{
        font-size:38px;
    }

}
/* ********************** */
/* End of About CSS */
/* ********************** */