:root{
    --primary:#0f172a;      /* Main Dark Navy */
    --secondary:#1e293b;    /* Section/Card Background */
    --accent:#06b6d4;       /* Cyan Accent */
    --light:#f8fafc;        /* Light Text */
    --dark:#020617;         /* Deep Dark */

    /* Extra Shades */
    --section-dark:#111827; /* Alternate Section Background */
    --card-bg:var(--secondary);      /* Card Background */
    --border:#334155;       /* Border Color */
    --text-muted:#cbd5e1;   /* Secondary Text */
    --text-description: #cbd5e1;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.section-padding{
    padding:100px 0;
}

.section-title{
    font-size:40px;
    font-weight:700;
}

.custom-btn{
    padding:12px 30px;
    border-radius:8px;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:var(--light);
    color:var(--primary);
}

/* Hero Section */
.hero-section{
    min-height:100vh;
    background:var(--primary);
    color:var(--light);
    padding:120px 0;
}

.hero-subtitle{
    color:var(--accent);
    font-size:20px;
    font-weight:500;
}

.hero-title{
    font-size:65px;
    font-weight:700;
}

.hero-typing{
    font-size:35px;
    font-weight:600;
}

.hero-description{
    max-width:550px;
    line-height:1.8;
    color:#cbd5e1;
}

/* Social Icons */
.hero-social a{
    color:var(--light);
    font-size:24px;
    transition:0.3s;
}

.hero-social a:hover{
    color:var(--accent);
}

/* Hero Image */
.hero-image img{
    width:380px;
    max-width:100%;
    border-radius:20px;
    border:5px solid rgba(255,255,255,0.1);
}

/* Common Section */
.section-padding{
    padding:100px 0;
}

.section-subtitle{
    color:var(--accent);
    font-weight:600;
    margin-bottom:10px;
}

.section-title{
    font-size:42px;
    font-weight:700;
}

/* About */
.about-text{
    line-height:1.9;
    /* color:#cbd5e1; */
    color: var(--text-description)
}

.info-box{
    background:#1e293b;
    padding:15px;
    border-radius:12px;
}

.info-box h6{
    color: var(--text-muted);
}

/* Skills */
.skill-card{
    background:#1e293b;
    padding:40px 20px;
    border-radius:20px;
    transition:0.3s;
    height:100%;
}

.skill-card:hover{
    transform:translateY(-10px);
}

.skill-card i{
    font-size:50px;
    color:var(--accent);
    margin-bottom:20px;
}

.skill-card p{
    color: var(--text-description);
}

/* Projects */
.project-card{
    background:#1e293b;
    border-radius:20px;
    overflow:hidden;
    transition:0.3s;
    height:100%;
}

.project-card:hover{
    transform:translateY(-10px);
}

.project-content{
    padding:25px;
}

.project-content p{
    margin:20px 0;
    color:var(--text-description);
}

/* Counter */
.counter-section{
    background:var(--section-dark);
}

.counter-box{
    background:var(--secondary);
    padding:40px 20px;
    border-radius:20px;
    transition:0.3s;
}

.counter-box:hover{
    transform:translateY(-10px);
}

.counter-box i{
    font-size:45px;
    color:var(--accent);
    margin-bottom:20px;
}

.counter-box p{
    color: var(--text-muted);
}

.counter-number{
    font-size:45px;
    font-weight:700;
}

/* Blog */
.blog-card{
    background:var(--secondary);
    border-radius:20px;
    overflow:hidden;
    transition:0.3s;
    height:100%;
}

.blog-card:hover{
    transform:translateY(-10px);
}

.blog-content{
    padding:25px;
}

.blog-content p{
    color:var(--text-description);
}
.blog-content a{
    vertical-align: bottom;
}

.blog-date{
    color:var(--accent);
    font-size:14px;
}

/* CTA */
.contact-cta{
    background:var(--section-dark);
}

.cta-box{
    background:var(--secondary);
    padding:70px 30px;
    border-radius:25px;
}

.cta-box p{
    color: var(--text-description);
}

/* Footer */
.footer-section{
    background:var(--dark);
    padding:80px 0 30px;
}

.footer-title{
    margin-bottom:20px;
}

.footer-links{
    list-style:none;
    padding:0;
}

.footer-text{
    color:var(--text-muted);
    
}

.footer-links li{
    margin-bottom:12px;
}

.footer-links a{
    color:var(--text-muted);
    text-decoration:none;
    transition:0.3s;
}

.footer-links a:hover{
    color:var(--accent);
}

.footer-social a{
    color:var(--light);
    font-size:22px;
    margin-right:15px;
    transition:0.3s;
}

.footer-social a:hover{
    color:var(--accent);
}

.footer-bottom{
    border-top:1px solid var(--border);
    padding-top:20px;
    color:var(--text-muted);
}

/* ********************** */
/* Start of About CSS */
/* ********************** */
/* Breadcrumb */
.breadcrumb-section{
    color:var(--accent);
    background:var(--section-dark);
    padding:120px 0 80px;
    text-align:center;
}

.breadcrumb-title{
    color:var(--light);
    font-size:50px;
    font-weight:700;
}

/* About */
.about-description{
    color:#1e293b, var(--text-muted);
    line-height:1.9;
}
.about-hero .info-box {
    color: #e4ecf3 !important;
}

/* Timeline */
.timeline{
    position:relative;
    max-width:800px;
    margin:auto;
}

.timeline::before{
    content:'';
    position:absolute;
    left:50%;
    top:0;
    width:3px;
    height:100%;
    background:var(--accent);
    transform:translateX(-50%);
}

.timeline-item{
    position:relative;
    margin-bottom:50px;
}

.timeline-content{
    background:var(--secondary);
    padding:30px;
    border-radius:20px;
    width:45%;
    color: #e4ecf3;
}

.timeline-item:nth-child(odd) .timeline-content{
    margin-left:auto;
}

.timeline-year{
    color:var(--accent);
    font-weight:600;
}

/* Skills */
.skills-section{
    background:var(--section-dark);
}

.skills-section .section-title{
    color: var(--light);
}

.skill-progress{
    background:var(--secondary);
    padding:25px;
    border-radius:15px;
}
.skill-progress h6{
    color: var(--text-muted);
}
.skill-progress span{
    color: var(--accent);
}

.progress{
    height:10px;
    background:#334155;
    border-radius:20px;
}

.progress-bar{
    background:var(--accent);
}

.cta-box{
    color: var(--light);
}
/* ************************* */
/* End of About CSS          */
/* ************************* */

/* ************************* */
/* Start of Blog Content     */
/* ************************* */

.blog-main{
    background: var(--primary);
}

.blog-category{
    color: var(--accent);
    font-size: 14px;
    font-weight: 600;
}

.blog-search input{
    background: var(--secondary);
    border: none;
    color: var(--light);
}

.blog-search input:focus{
    box-shadow: none;
}

.blog-card .blog-content h4{
    color: var(--light);
}

/* ************************* */
/* Start of Sidebar          */
/* ************************* */
.sidebar-widget{
    background: var(--secondary);
    padding: 30px;
    border-radius: 20px;
}

.sidebar-title{
    color: var(--light);
}

.sidebar-title{
    margin-bottom: 20px;
}

.sidebar-links{
    list-style: none;
    padding: 0;
}

.sidebar-links li{
    margin-bottom: 15px;
}

.sidebar-links a{
    color:var(--text-muted);
    text-decoration: none;
    transition: 0.3s;
}

.sidebar-links a:hover{
    color: var(--accent);
}

/* Start of Pagination       */
.page-link{
    background: var(--secondary);
    border: none;
    color: var(--light);
}

.page-link:hover{
    background: var(--accent);
    color: #FFFFFF;
}

.page-item.active .page-link{
    background: var(--accent);
}

/* ************************* */
/* Start of Blog Details /   */ 
/* Single Blog               */
/* ************************* */

.blog-details-card{
    background: var(--secondary);
    padding: 40px;
    border-radius: 25px;
}

.blog-meta{
    color: var(--text-muted);
}

.blog-list li{
    margin-bottom: 12px;
}

.code-block{
    background: #020617;
    color: #06b6d4;
    padding: 25px;
    border-radius: 15px;
    overflow: auto;
}

/* Tags */
.blog-tags a{
    display: inline-block;
    background: var(--primary);
    color: var(--light);
    padding: 8px 16px;
    border-radius: 30px;
    margin-right: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.blog-tags a:hover{
    background: var(--accent);
}

/* Share */
.blog-share a{
    color: var(--light);
    font-size: 22px;
    margin-right: 15px;
    transition: 0.3s;
}

.blog-share a:hover{
    color: var(--accent);
}


/* Dark Mode Toggle */
/* color:var(--light); */
/* body.light-mode{
    background:#ffffff;
    color:#000000;
}
body.light-mode .skill-card,
body.light-mode .info-box
body.light-mode .project-content h4,
body.light-mode .footer-section,
body.light-mode .cta-box,
body.light-mode .blog-card {
    color: var(--light)
}

body.light-mode .about-text {
    color: #7a7a7a
} */